/node_modules
/public/hot
storage/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/.htaccess
/public/phpdb/*
composer.lock
bootstrap/cache/services.php
/public/uploads/*

/nbproject/private/
